/* styles.css */
* {
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.header-2 {
    background-color: #f48d79;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-top: 17px;
}

a {
    text-decoration: none;
    color: white;
}

.li-font {
    text-decoration: none;
    color: #1f2937;
}

.logo
{
    color: white;
    font-size: 24px;
    font-weight: 1000;
    padding-top: 10px;
}

.logo-2
{
    color: #1f2937;
    font-size: 24px;
    font-weight: 1000;
    padding-top: 10px;
}

.link, .link-2
{
    display: flex;
    font-size: 18px;
}

.font-1 {
    font-size: 16px;
}

.content {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(31, 41, 55);
        color: white;
        gap: 10px;
    }

.content-wex-1 {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f48d79;
        color: #1f2937;
}

.content-wex-2 {
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fda898;
        color: #1f2937;   
}

.content-wex-3 {
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffc0b4;
        color: #1f2937;   
}

.content-2 {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(78, 141, 230);
        color: white;
        gap: 10px;
}

.content-3 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 178, 233);
    color: white;
    gap: 30px;
    flex-direction: row;  /* picture left, text right */
    text-align: left;     /* ensures text is aligned properly */
}

.m-head {
    font-size: 42px;
    font-weight: bolder;
}
.m-head-2 {
    font-size: 32px;
    font-weight: bolder;
}

.m-head-4, .m-head-5, .m-head-6 {
    font-size: 26px;
    font-weight: bolder;
    color: white;
}

.mheader-ex-1 {
    width: 500px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mheader-ex-2 {
    width: 500px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mheader-ex-3 {
    width: 500px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mheader {
    width: 500px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mheader-2 {
    text-align: center;    /* ✅ ข้อความทั้งหมดจะชิดขวา */
    width: 400px;     /* ปรับขนาดให้ไม่กว้างเกินไป (เลือกใส่ก็ได้) */
    height: 200px;
    display: flex;
    flex-direction: column;
}

.mheader-3 {
    text-align: right;    /* ✅ ข้อความทั้งหมดจะชิดขวา */
    width: 400px;     /* ปรับขนาดให้ไม่กว้างเกินไป (เลือกใส่ก็ได้) */
    height: 150px;
    display: flex;
    flex-direction: column;
}

.mheader-4 {
    text-align: left;    
    width: 600px;     
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: white;
}

.mheader-5,.mheader-6 {
    text-align: left;    
    width: 600px;     
    height: 250px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: white;
}


.m-content {
    font-size: 16px;

}

.picture {
    width: 200px;              /* make width and height equal */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 116, 125);
    color: white;
    border-radius: 50%;        /* this makes it circular */
    overflow: hidden;          /* hides any image corners */
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;         /* keeps image centered and fills circle */
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(62, 132, 246);
    color: white;
    border-color: rgb(62, 132, 246);
}


.content-one-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 42px;
    font-weight: bold;
    color: #1f2937;
}

.content-one {
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.content-one-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box {
    height: 220px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.box-image {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px; 
    border: 4px solid rgb(60, 131, 246);
    text-align: center;
}

.box-content {
    text-align: center;
    color: rgb(112, 120, 131);
}
/* color: rgb(112, 120, 131); */

.content-four {
    height: 400px;
    display: flex;
    background-color: #2e4063;
    justify-content: center;
    align-items: center;
}

.content-five {
    height: 400px;
    display: flex;
    background-color: #6b7588;
    justify-content: center;
    align-items: center;
}

.content-six {
    height: 400px;
    display: flex;
    background-color: #334c7e;
    justify-content: center;
    align-items: center;
}

.quote-box-2 {
    height: 300px;
    width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author {
    text-align: right;
}

.content-three {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-three,.ads,.ad-left,.ad-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads{
    height: 100px;
    width: 800px;
    padding: 30px;
    background-color: rgb(59, 129, 245);
    border-radius: 6px;
    color: white;
    justify-content: space-between;
    box-sizing: border-box;
}

.ad-left
{
    flex-direction: column;
    gap: 10px;
}

.ad-heading {
    font-weight: bolder;
    font-size: 18px;
}

.sign2 {
    border: 2px solid white;
}

footer {
    background-color: #1f2937;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

